In [1]:
const { Client } = require('pg');

In [ ]:
let client = null;

In [33]:
client = new Client({
  user: 'postgres',
  host: 'localhost',
  database: 'books',
  password: '12345678',
  port: 5432,
});

console.log("client got initiated")

client got initiated

In [34]:

client.connect();

console.log('Client connected successfully');

Client connected successfully

In [21]:

client.end();

console.log('Client connection ended successfully');

Client connection ended successfully

In [18]:

client.connect();

console.log('Client connected successfully');

Client connected successfully

Error: Client has already been connected. You cannot reuse a client.
    at Client._connect (/home/dell/Projects/jupyter/node-notebook/node_modules/pg/lib/client.js:94:19)
    at /home/dell/Projects/jupyter/node-notebook/node_modules/pg/lib/client.js:167:12
    at new Promise (<anonymous>)
    at Client.connect (/home/dell/Projects/jupyter/node-notebook/node_modules/pg/lib/client.js:166:12)
    at evalmachine.<anonymous>:2:8
    at Script.runInThisContext (node:vm:129:12)
    at Object.runInThisContext (node:vm:313:38)
    at run ([eval]:1020:15)
    at onRunRequest ([eval]:864:18)
    at onMessage ([eval]:828:13)

In [49]:
const showAllTables = async () => {
  try {
    // Query to get all table names
    const res = await client.query(`
      SELECT table_name
      FROM information_schema.tables
      WHERE table_schema = 'public'
      ORDER BY table_name;
    `);
    return res.rows.forEach(row => console.log(row.table_name));
  } catch (err) {
    console.error('Error executing query', err.stack);
  }
}

In [54]:
(async () => {
  try {
      
    // Drop table is exists
    await client.query('DROP TABLE IF EXISTS books, authors, publishers CASCADE');

  } catch (err) {
    console.error('Error executing query', err.stack);
  }
})();

Promise { <pending> }

In [ ]:
(async () => {
  try { 
    // uuid-ossp for uuid generation extension
     await client.query(`
          CREATE EXTENSION IF NOT EXISTS "uuid-ossp";
        `);
  } catch (err) {
    console.error('Error executing query', err.stack);
  }
})();

In [53]:
const createPublisher = async () => {
  try {
    await client.query(`
          CREATE TABLE publishers (
            publisherID UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
            name VARCHAR(255) NOT NULL
          );
    `);
    console.log("Table created: Publisher")
  } catch (err) {
    console.error('Error executing query', err.stack);
  }
}

const createAuthors = async () => {
  try {
    await client.query(`
          CREATE TABLE authors (
            authorID UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
            name VARCHAR(255) NOT NULL
          );
    `);
    console.log("Table created: Authors")
  } catch (err) {
    console.error('Error executing query', err.stack);
  }
};

const createBooks =  async () => {
  try {
    await client.query(`
       CREATE TABLE books (
            bookID UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
            title VARCHAR(255) NOT NULL,
            average_rating FLOAT,
            isbn VARCHAR(13),
            isbn13 VARCHAR(13),
            language_code VARCHAR(10),
            num_pages INT,
            ratings_count INT,
            text_reviews_count INT,
            publication_date DATE,
            publisherID UUID REFERENCES publishers(publisherID),
            authorID UUID REFERENCES authors(authorID)
          );
    `);
    console.log("Table created: Books")
  } catch (err) {
    console.error('Error executing query', err.stack);
  }
}

SyntaxError: Invalid or unexpected token

In [55]:
createPublisher();

Promise { <pending> }

In [56]:
createAuthors();

Promise { <pending> }

In [57]:
createBooks();

Promise { <pending> }

In [58]:
showAllTables()

Promise { <pending> }

Result {
  command: 'SELECT',
  rowCount: 3,
  oid: null,
  rows: [
    { table_name: 'authors' },
    { table_name: 'books' },
    { table_name: 'publishers' }
  ],
  fields: [
    Field {
      name: 'table_name',
      tableID: 13647,
      columnID: 3,
      dataTypeID: 19,
      dataTypeSize: 64,
      dataTypeModifier: -1,
      format: 'text'
    }
  ],
  _parsers: [ [Function: noParse] ],
  _types: TypeOverrides {
    _types: {
      getTypeParser: [Function: getTypeParser],
      setTypeParser: [Function: setTypeParser],
      arrayParser: [Object],
      builtins: [Object]
    },
    text: {},
    binary: {}
  },
  RowCtor: null,
  rowAsArray: false,
  _prebuiltEmptyResultObject: { table_name: null }
}
authors
books
publishers